.main {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.input-rechercher, .btn-rechercher {
    padding: 5px;
}

.rechercher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    width: 300px;
}

.input-rechercher {
    border: 1px solid lightgray;
}

.btn-rechercher {
    background-color: lightgray;
    border-radius: 5px;
}

